<ion-header [translucent]="true">
  <ion-back-button></ion-back-button>
  <ion-toolbar>
    <ion-title>Rechner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rechner</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <p>{{result}}</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-button>clear</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-button>1</ion-button>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-button>2</ion-button>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-button>3</ion-button>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-button>+</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-button>4</ion-button>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-button>5</ion-button>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-button>6</ion-button>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-button>-</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-button>7</ion-button>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-button>8</ion-button>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-button>9</ion-button>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-button>*</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="9">
        <ion-item>
          <ion-button>0</ion-button>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-button>/</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-button>=</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
